<section class="tuft-edit dialog" ng-if="isEditing">
    <h1>Edit Tuft</h1>
    <article>
        <span>Name: {{tuft.name}}</span>
    </article>
    <article ondrop="dropUserForAffinement(event)" ondragover="allowDropUserForAffinement(event)" style="width: 20%;height:20%;">
        <span>Included Users: </span>
        <article class="affined-user" ng-repeat="user in tuft.affinedUsers" id="{{user.id}}" draggable="true" ondragstart="dragUser(event)">
            {{user.name}}
        </article>
        <div style="clear: both;"></div>
    </article>
    <article ondrop="dropUserForUnAffinement(event)" ondragover="allowDropUserForUnAffinement(event)" style="width: 20%;height:20%;">
        <span>Connections: </span>
        <article class="unaffined-user" ng-repeat="user in unaffinedUsers" id="{{user.id}}" draggable="true" ondragstart="dragUser(event)">
            {{user.name}}
        </article>
        <div style="clear: both;"></div>
    </article>

    <article>
        <input type="button" value="Close" ng-click="doneEditing()"></input>
    </article>
</section>