body {
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #444444;
    color: #FFFFFF;
}

.header-inner, .body-inner {
    width: 80%;
    margin: 0 auto;
}

.body-inner {
    padding-top: 1em;
}

.tuft-list {
    width: 20%;
    float: left;
}

.tuft-display {
    width: 70%;
    float: left;
}

.selectable {
    cursor: pointer;
}

.dialog {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    border: 1px solid #444444;
}

.affined-user,.unaffined-user {
    float: left;
    border: 1px solid #444444;
}